<main class="contenedor">
    <h1>Listado de Clientes</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>#</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>DNI</td>
                <td>Email</td>
                <td>Address</td>
            </tr>
        </thead>
        <tbody id="clientes">
            <tr *ngFor="let cliente of clients">
                <td>{{cliente.clientId}}</td>
                <td>{{cliente.firstName}}</td>
                <td>{{cliente.lastName}}</td>
                <td>{{cliente.dni}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.address}}</td>
                <td><button type="button" class="btn btn-danger" (click)="deleteClient(cliente)">Delete</button></td>
                <td><button type="button" class="btn btn-primary" (click)="editarCliente(cliente)" [routerLink]="['/edit', cliente.clientId]">Edit</button></td>
            </tr>
        </tbody>
    </table>
</main>
